{% extends "main.html" %}

{% block maincontent %}

<div class="container">
	<H3> Contact Seller For Item {{itemname}}</H3>
	 <div class ="row">Your contact information (Email) will be automatically provided to the seller.</br></div>
	<br>
<div class="row">
 <div>
 	<FORM class="form_container" action="/SendEmail" method="post">
    <H5>Message:	<br><br><INPUT type="textarea" name="message" padding-left:5em rows="10" cols="50"><BR>
    <input type="hidden" name="itemname" value="{{itemname}}">
    <br>
    <INPUT class="btn btn-primary" type="submit" value="Send Email">
    </H5>
 </FORM>
</div>
</div>
</div>

{% endblock %}