{% extends "main.html" %}

{% block maincontent %}
<div class="container">

{% if failed %}

    <div class="row"><div><strong>Login failed!</strong> Check your credentials and try again.</div></div>

{% endif %} 
    <div class="row">
      <div class="g-signin2" data-onsuccess="onSignIn"  data-width="200", data-height="50", data-longtitle="true" data-theme="dark"></div>
      <script>
        function onSignIn(googleUser) {
          //Useful data for your client-side scripts:
          var profile = googleUser.getBasicProfile();
          console.debug("ID: " + profile.getId());
          console.debug("Name: " + profile.getName());
          console.debug("Image URL: " + profile.getImageUrl());
          console.debug("Email: " + profile.getEmail());

          // The ID token you need to pass to your backend:
          var id_token = googleUser.getAuthResponse().id_token;
          console.debug("ID Token: " + id_token);

          var data = {};
          data['idtoken'] = id_token;

          //construct an HTTP request
          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'https://moonlit-shadow-813.appspot.com/WebTokenSignin');
          xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

          //send the collected id_token data as JSON
          xhr.send(JSON.stringify(data));

          xhr.onload = function() {
            console.debug('Signed in as: ' + xhr.responseText);
            window.location="https://moonlit-shadow-813.appspot.com/";
          };
        };
      </script>
    </div>
  </div>
</div>


{% endblock %}

