{% extends "main.html" %}

{% block maincontent %}
<div class="container">
  <h3>Reset password</h3>
<div class="row">
 <div>
	<form action="/password" method="post">

	    Select password:    <br><input type="password" name="password" padding-left:5em/><br>
	    Confirm password:   <br><input type="password" name="confirm_password" padding-left:5em/><br>
		<input type="hidden" name="t" value="{{ token }}" /><br>
	    <input class="btn btn-primary" type="submit" value="Update password" />
	</form>
</div>
</div>
</div>


{% endblock %}