<div class="container">
	<H3> Create a New Clothing Article </H3>
<div class="row">
 <div>
 	<FORM class="form_container" action="/CreateArticle" method="post">
    Article Name:	<br><INPUT type="text" name="firstname" padding-left:5em><BR>
    Article Owner:	<br><INPUT type="text" name="lastname" padding-left:5em><BR>
    Article Type:	<br><INPUT type="text" name="email" padding-left:5em><BR>
    Article Tags:	<br><INPUT type="text" name="tags" padding-left:5em><BR>
    Article Price:	<br><INPUT type="text" name="tags" padding-left:5em><BR>
    Description:	<br><INPUT type="textarea" padding-left:5em></textarea><br> <br>
    <INPUT class="buttons" type="submit" value="Create Article"> 
 </FORM>
</div>
</div>
</div>



